<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tipCalculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A86FBB681DE29FCB006B4462</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A86FBB7C1DE29FCC006B4462</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A86FBB871DE29FCC006B4462</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
